@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.intro-subheading {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not visible outside the bounding box */
  border-right: .15em solid black; /* Creates the caret effect */
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  margin: 0 auto; /* Centers the element */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  color: royalblue;
}
.gradiant-text {
  background: linear-gradient(to top, #3b82f6, #06b6d4); /* Blue to cyan gradient */
  -webkit-background-clip: text;
  color: transparent;
}


 
 
  